{% extends 'game/base.html' %}

{% block breadcrumb_list %}
{% include "game/breadcrumb_list.html" with breadcrumb_list="/home /mission/list" %}
{% endblock %}

{% block content %}
<h1 class="mb-4">ミッション一覧</h1>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Mission ID</th>
            <th>Name</th>
            <th>紹介文</th>
            <th>タイプ</th>
            <th>達成回数</th>
            <th>受取</th>
        </tr>
    </thead>
    <tbody>
        {% for mission_info in mission_infos %}
        <form method="post" action="achieve">
            {% csrf_token %}
            <input type="hidden" name="mission_id" value="{{ mission_info.mission_id }}">
            <tr>
                <td>{{ mission_info.mission_id }}</td>
                <td>{{ mission_info.name }}</td>
                <td>{{ mission_info.description }}</td>
                <td>{{ mission_info.condition_type }}・{{ mission_info.condition_value }}</td>
                <td>{{ mission_info.user_count }} / {{ mission_info.target_amount }}</td>
                <td>
                    {% if mission_info.is_rewarded %}報酬受取りずみ
                    {% elif mission_info.is_completed %}<input type="submit" value="受取">
                    {% else %}未達成
                    {% endif %}
                </td>
            </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

